@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

body.modal-open {
    padding-right: 0 !important;
}

#menuModal {
    button.close_menumodel {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .submenu {
        display: none;
        opacity: 0;

        &.active {
            display: block;
            opacity: 1;
        }
    }

    .menui {
        transition: .5s ease;

        .text-menu {
            color: $tertiarylight;
        }

        &.active .text-menu {
            color: $white;
        }

        &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50rem;
            background-color: $secondary;
            left: -100px;
            bottom: 13px;
            opacity: 0;
            transition: .5s ease;

            @include media-breakpoint-down(sm) {
                width: 10px;
                height: 10px;
                bottom: 7px;
            }
        }

        &:hover:before {
            opacity: 1;
            left: -25px
        }

        &.active:before {
            left: 101%;
            opacity: 1
        }
    }

    @include media-breakpoint-down(lg) {
        .ddmenu .border-end {
            border: none !important;
        }
    }
}

header {
    background: $dark;
    position: sticky;
    top: 0;
    padding: 27px 0;
    z-index: 1020;

    .call-now {
        transition: .5s ease;
        position: relative;
        text-decoration: none;
        color: $white;

        .text-hidden {
            transition: .5s ease;
        }

        .phone-hidden {
            transition: .5s ease;
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
        }

        &:hover {
            .text-hidden {
                opacity: 0;
            }

            .phone-hidden {
                opacity: 1;
            }
        }
    }

    .red_dot {
        display: inline;
        position: absolute;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        top: 8px;
        right: -1px;
        background: $secondary;

        &.star {
            top: 5px;
            right: 1px
        }

        &.phone {
            top: 5px;
            right: 0;
        }
    }
}

section.banner {
    background: $dark;
    color: $white;
}

section.partner {
    background: $tertiary;
    padding: 80px 0;

    @include media-breakpoint-down(sm) {
        padding: 40px 0;
    }
}

section.affiliate-partner {
    background: $dark;
    padding: 58px 40px;

    @include media-breakpoint-down(sm) {
        padding: 40px 0;
    }

    .affiliate-partner-img {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .play-button {
        position: absolute;
        border: 0;
        background: none;
        border-radius: 50%;
    }

    .modal {
        .modal-content {
            background: transparent;
            border: none;

            .modal-header {
                border: none;
            }
        }

        .modal-dialog {
            max-width: 934px;

            .video-modal {
                width: 100%;
                height: 506px;
            }
        }
    }
}

section.seamless-integration {
    background: $primary;
    color: $white;
    padding: 80px 0;
}

section.implementation {
    padding: 80px 0;
    background: $tertiary;
}

section.solution {
    padding: 80px 0;
    background: $dark;
    color: $white;
}

section.for-whom {
    background: $quartinary;
    color: $white;
    padding: 40px 0;
}

section#form {
    .multi-step-form {
        .multi-step-form-slider {
            .slick-slide {
                padding-bottom: 1.5rem;
            }
        }

        label {
            font-size: 1.25rem;
            font-weight: 700;
            color: $black;
            line-height: 1;

            @media screen and (max-width:576px) {
                font-size: 1rem;
            }

            span.color {
                color: $primary;
            }
        }

        span.points {
            font-size: 0.75rem;
            font-weight: 700;
            padding: 0.625rem 1rem;
            border: 1px solid $darkgrey;
            border-radius: 50rem;
            color: $darkgrey;
            margin-left: 1.5rem;

            @media screen and (max-width:576px) {
                font-size: 0.438rem;
                padding: 0.281rem 0.466rem;
                margin-left: 0.5rem;
            }
        }

        .form-control {
            border: none;
            background-color: transparent;
            margin-top: 1.5rem;
            padding: 0;
            color: $darkgrey;
            line-height: 1;
            width: 100%;
            font-size: calc(1.525rem + 3.3vw);
            font-weight: 700;
            position: relative;

            @media (min-width: 1200px) {
                .title {
                    font-size: 4rem;
                }
            }

            &::placeholder {
                color: $darkgrey;
            }

            &:focus {
                box-shadow: none;
            }
        }

        button {
            background-color: $secondary;
            color: $white;
            border: none;
            border-radius: 50rem;
            padding: 1rem 4.875rem;
            font-size: 1rem;
            font-weight: 700;
            cursor: pointer;

            @media screen and (max-width:576px) {
                padding: 1rem 2rem;
                width: 100%;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        #prevBtn {
            cursor: pointer;
        }

        .custom-file-uploader {
            position: relative;

            input[type='file'] {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 5;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }
    }
}

footer {
    background: $dark;
    padding: 88px 0;

    @include media-breakpoint-down(sm) {
        padding: 48px 0;
    }

    .socials {
        a.btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 50%;
        }
    }

    .accordion-button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
        font-size: 1rem;
        color: var(--bs-accordion-btn-color);
        text-align: left;
        background-color: var(--bs-accordion-btn-bg);
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: var(--bs-accordion-transition);

        &:not(.collapsed) {
            color: var(--bs-accordion-active-color);
            background-color: var(--bs-accordion-active-bg);
            box-shadow: inset 0 calc(-1*var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
        }

        &:not(.collapsed)::after {
            background-image: var(--bs-accordion-btn-active-icon);
            transform: var(--bs-accordion-btn-icon-transform);
        }

        &::after {
            flex-shrink: 0;
            width: var(--bs-accordion-btn-icon-width);
            height: var(--bs-accordion-btn-icon-width);
            margin-left: auto;
            content: "";
            background-image: var(--bs-accordion-btn-icon);
            background-repeat: no-repeat;
            background-size: var(--bs-accordion-btn-icon-width);
            transition: var(--bs-accordion-btn-icon-transition);
        }

        &:hover {
            z-index: 2;
        }

        &:focus {
            z-index: 3;
            border-color: var(--bs-accordion-btn-focus-border-color);
            outline: 0;
            box-shadow: var(--bs-accordion-btn-focus-box-shadow);
        }
    }

    @media(prefers-reduced-motion: reduce) {
        .accordion-button {
            transition: none;
        }
    }

    @media(prefers-reduced-motion: reduce) {
        .accordion-button::after {
            transition: none
        }
    }

    .accordion-header {
        margin-bottom: 0
    }

    .accordion-item {
        color: var(--bs-accordion-color);
        background-color: var(--bs-accordion-bg);
        border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);

        &:first-of-type {
            border-top-left-radius: var(--bs-accordion-border-radius);
            border-top-right-radius: var(--bs-accordion-border-radius)
        }

        &:first-of-type .accordion-button {
            border-top-left-radius: var(--bs-accordion-inner-border-radius);
            border-top-right-radius: var(--bs-accordion-inner-border-radius)
        }

        &:not(:first-of-type) {
            border-top: 0
        }

        &:last-of-type {
            border-bottom-right-radius: var(--bs-accordion-border-radius);
            border-bottom-left-radius: var(--bs-accordion-border-radius)
        }

        &:last-of-type .accordion-button.collapsed {
            border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
            border-bottom-left-radius: var(--bs-accordion-inner-border-radius)
        }

        &:last-of-type .accordion-collapse {
            border-bottom-right-radius: var(--bs-accordion-border-radius);
            border-bottom-left-radius: var(--bs-accordion-border-radius)
        }
    }

    .accordion-body {
        padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x)
    }

    .accordion-flush .accordion-collapse {
        border-width: 0
    }

    .accordion-flush .accordion-item {
        border-right: 0;
        border-left: 0;
        border-radius: 0
    }

    .accordion-flush .accordion-item:first-child {
        border-top: 0
    }

    .accordion-flush .accordion-item:last-child {
        border-bottom: 0
    }

    .accordion-flush .accordion-item .accordion-button,
    .accordion-flush .accordion-item .accordion-button.collapsed {
        border-radius: 0
    }

}